<h1 id="about">About</h1>

<p>The fantasy landscape of the 17 week NFL season features storylines that no one can predict. At least we can try to forecast or predict what may happen right?</p>

<p>The Fantasy Corner is a place where I will share my thoughts and opinions</p>
