<h1 id="about">About</h1>

<p>Fantasy sports can be trivial to some, but for others like myself, it's a way to stay connected with friends and colleagues alike. It provides a topic of conversation and fosters enemies out of friends. After all, as any sports fan will tell you, the coach and GM make infuriating decisions so why not take control of your own team?</p>

<p>With the Fantasy Corner, I hope to combine a few things I'm passionate about. NBA, NFL, writing and web development.</p>

<p>You may not always agree with my thoughts or opinions, but if you're here reading this then we share a mutual interest in sports and fantasy.</p>
