@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */

rails /*@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/

/*.home_image.center {
  display: block;
  margin: 0 auto;

  .center {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}*/

.new_post {
  text-align: center;
}

#img {
  width: 100px;
}

.nav_bar {
  text-align: left;
}

.username {
  text-align: right;
  font-family: Oxygen;
  float: right;
}

body > div > h4 {
  font-family: Oxygen;
}

.container {
  margin-left: 75px;
  margin-right: 400px;
}


/* NAVBAR */
.nav {
  margin-left: 75px;
  margin-right: 75px;
}

/* POST SHOW */
.post {
  border: 1px solid #ead7d7;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  background-color: #e2e2e2;
}

.post-title {
  font-family: Oxygen;
  margin-bottom: 0px;
  font-size: 28px;
}

.new-comment {
  margin-bottom: 20px;
}

.comment-box {
  border: 1px solid #ead7d7;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.comment-delete {
  float: right;
  margin-top: 10px;
}

.created-by {
  font-size: 14px;
  margin-top: 0px;
}

.post-body {
  font-size: 16px;
}

.created-by-comment {
  font-size: 14px;
}

.comment-body {
  font-size: 16px;
}

/* FOOTER */
.footer  {
  text-align: center;
  position: relative;
  background-color: #08007a;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}

.footer-content {
  color: white;
}
