rails /*@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/

/*.home_image.center {
  display: block;
  margin: 0 auto;

  .center {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}*/
.new_post {
  text-align: center;
}

#img {
  width: 100px;
}

.nav_bar {
  text-align: left;
}

h1 {
  font-family: Oxygen;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.username {
  text-align: right;
  font-family: Oxygen;
  float: right;
}
